# Flutter/Dart
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
pubspec.lock

# Firebase secrets - हे कधीही commit करू नका
lib/firebase_options.dart
android/app/google-services.json
ios/Runner/GoogleService-Info.plist
**/firebase.json

# IDE
.idea/
.vscode/
*.iml

# OS
.DS_Store
